In [25]:
import sys

In [40]:
sys.path.insert(0, 'C://Users//SumeetMitra//OneDrive - Tata Insights and Quants//december//project 3 number plate//yolov5//utils')
from datasets import letterbox
from general import non_max_suppression, check_img_size, scale_coords
sys.path.insert(0, 'C://Users//SumeetMitra//OneDrive - Tata Insights and Quants//december//project 3 number plate//yolov5//models')
from experimental import attempt_load

In [38]:
from utils.datasets import letterbox
from models.experimental import attempt_load
from utils.general import non_max_suppression, check_img_size, scale_coords

ModuleNotFoundError: No module named 'utils.datasets'

In [62]:
import os
import xml.etree.ElementTree as ET
import glob
import pandas as pd
import cv2
path = 'D://december//SSS_Sumeet_29-44'
files_xml = glob.glob(path+'//*.xml')
files_images = glob.glob(path+'//*')
files_images = [x for x in files_images if not x.endswith('.xml')]

In [64]:
df = pd.DataFrame(columns=['Image_name','Class_name','x_min','y_min','x_max','y_max','Height','Width'])
for file in files_images:
    img = cv2.imread(file)
    img_name = os.path.basename(file)
    r,c,ch = img.shape
    xml_path = str(file.split('.')[0]+'.xml')
    if os.path.exists(xml_path):
        tree = ET.parse(xml_path)
        root = tree.getroot()
        for member in root.findall('object'):
            class_name = member[0].text
            xmin = int(member[4][0].text)
            ymin = int(member[4][1].text)
            xmax = int(member[4][2].text)
            ymax = int(member[4][3].text)
            df2 = pd.DataFrame([[img_name,class_name,xmin,ymin,xmax,ymax,r,c]],columns=df.columns)
            df = pd.concat([df,df2],ignore_index=True)

In [65]:
df

     Image_name Class_name x_min y_min x_max y_max Height Width
0  15_00_00.jpg        rod    29     2   270  1021   1024   400
1  15_00_00.jpg     midrib   113     3   156  1024   1024   400
2  15_00_01.jpg        rod    24     3   271  1022   1024   400
3  15_00_01.jpg     midrib   116     7   166  1022   1024   400

In [52]:
for file in files_images:
    str(file.split('.')[0]+'.xml')

In [31]:
import glob
import cv2
files = glob.glob(r'C:\Users\SumeetMitra\OneDrive - Tata Insights and Quants\Learning\yolov5\runs\detect\yol0_test2\*.png')

In [32]:
for file in files:
    img = cv2.imread(file)
    cv2.imshow('window_name', img)
    k = cv2.waitKey(50)
    if k == 27:
        break
cv2.destroyAllWindows()

In [84]:
f = open('C://Program Files//MySQL//MySQL Server 8.0//bin//mysqld.exe', 'rb')
h = open('file2.txt', "w")

In [81]:
data = f.read()
h.write(data.decode('ascii'))

UnicodeDecodeError: 'ascii' codec can't decode byte 0x90 in position 2: ordinal not in range(128)

In [95]:
import codecs
with codecs.open('C://Program Files//MySQL//MySQL Server 8.0//bin//mysqld.exe', encoding='utf_8') as handle:
    data = handle.read()
    h.write(data)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x90 in position 2: invalid start byte

In [119]:
h = open('file2.txt', "w")
lst = []
with open('file.txt', "r") as text_file:
    for text_lines in text_file.readlines():
        lst.append(text_lines.split('x'))

In [121]:
lst2 = []
for i in lst:
    for j in i:
        if len(j) > 8:
            lst2.append(j)

In [129]:
lst3 = [] 
for y in lst2:
    if 'password' in y:
        lst3.append(y)

In [130]:
df = pd.DataFrame(lst3)
df.to_csv('password2.csv')

In [131]:
len(lst3)

415

In [76]:
h.write(str(f.read()))

143103170

In [87]:
def test(a,b):
    c = a-b
    d = a+b
    return c,d

In [93]:
q = test(2,3)

In [94]:
print(q)

(-1, 5)

In [ ]:

for file in glob.glob(args.path+"//*//*//*//**")+glob.glob(args.path+"//*//*//**")+glob.glob(args.path+"//*//**")+glob.glob(args.path+"//**"):
    if file.contains(args.form):
        print(file)